.products {
  li {
    display: inline-block;
    border: solid 1px #efefef;
    width: 100px;
    height: 200px;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
}
